<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Home</title>
  <link rel="stylesheet" href="">
</head>
<body>
  <h1>Don't Breathe</h1>
   <div class="main-container">
        <div class="border-container">
            <p class="description">
              {{#countriesData}}
                <a dataset="{{code}}" href="/country/{{code}}"> {{name}} </a><br>
              {{/countriesData}}
            </p>
        </div>  
    </div>
</body>
</html>